<% provide(:title, "Search in messages") %>
<div class="row">
  <h1>Search in microposts</h1>
  <%= form_tag microposts_path, :method => 'get'  do %>
    <%= text_field_tag :search, params[:search], style: "width: 85%;"%>
    <%= submit_tag "Search", class: "btn btn-primary btn-xs", style: "width: 14%; display: inline-block;"  %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-8">
    <% if @microposts %>
      <h3>Microposts (<%= @microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>